---
interface Props {
  track: any;
  index: number;
}

const { index, track } = Astro.props;
---

<tr class="text-sm text-gray">
  <td class="py-2 rounded-tl-lg rounded-bl-lg w-5">{index + 1}</td>
  <td class="py-2 pl-4 flexgap-3">
    <div class="flex flex-col">
      <h3 class="text-white">{track.title}</h3>
      <h3 class="">{track.artists}</h3>
    </div>
  </td>
  <td class="py-2 text-center">{track.duration}</td>
</tr>
