---
interface Props {
  href?: string;
  text: string;
  item: any;
}

const { href, text } = Astro.props;
---

<li>
  <a
    href={href}
    class="flex gap-5 text-zinc-400 hover:text-zinc-100 items-center py-3 px-4 font-medium transition duration-300"
  >
    {(<Astro.props.item />)}
    {text}
    <slot />
  </a>
</li>
